
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #87ceeb, #ffffff);
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
}

.cara {
    position: relative;
    width: 150px;
    height: 150px;
    background: #ffd699;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}

.ojo {
    position: absolute;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    top: 40px;
}

.ojo-izq {
    left: 40px;
}

.ojo-der {
    right: 40px;
}

.bigote {
    position: absolute;
    width: 80px;
    height: 20px;
    background: black;
    top: 80px;
    left: 35px;
    border-radius: 50px;
}

.boca {
    position: absolute;
    width: 40px;
    height: 20px;
    border-bottom: 5px solid red;
    border-radius: 50%;
    bottom: 30px;
    left: 55px;
}

h1 {
    color: #333;
}